= '\n'

// for Twitter
meta(name='twitter:card', content='summary')/
meta(name='twitter:title', content='jQuery LightLayer Plugin')/
meta(name='twitter:description', content='A simple responsive lightbox & dialog script')/
meta(name='twitter:image', content='http://s.gravatar.com/avatar/0240c310cb30ce7e37a9b7c4c169a716?s=800')/
